# Enable server-side includes
Options +Includes
AddType text/html .shtml .html .htm
AddOutputFilter INCLUDES .shtml .html .htm

# Set default character set
AddDefaultCharset UTF-8

# Set directory index
DirectoryIndex index.html index.htm
